<section class="flex flex-col gap-6">
    <span class="primary-title text-lg">{{'TITLE.PN' | translate}}</span>
    <form [formGroup]="numerotationForm" class="grid grid-cols-1 gap-9 sm-md:grid-cols-2 ">
        <div class="flex flex-col gap-6">
            <span class="secondary-title">{{'FORM.TITLE.FM' | translate}}</span>
            <div class="flex flex-col gap-6">
                <div class="flex gap-2 items-center">
                    <app-custom-input (ngModelChange)="setFormatResult()" type="text" [control]="numerotationForm.controls['format']"
                    placeholder="{{'FORM.INPUT.FNR' | translate}}" class="grow" ></app-custom-input>
                    <button class="common-btn-gray w-fit h-fit " (click)="isDoc = !isDoc" [class.common-btn-black]="isDoc ">
                        <svg-icon name="export" svgClass="w-5"></svg-icon>
                    </button>
                </div>
                <div class="flex flex-col text-xs gap-2 p-1 " *ngIf="isDoc">
                    <p>
                        {{'DOCUMENTATION.N.HEAD'|translate}}
                    </p>
                    <table class="doc-table">
                        <tr>
                          <td><span class="rounded-lg-gray">&lt;doc&gt;</span></td>
                          <td>{{'DOCUMENTATION.N.L1'|translate}}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="rounded-lg-gray">&lt;aa&gt;</span> ou
                                <span class="rounded-lg-gray">&lt;aaaa&gt;</span>
                            </td>
                          <td>{{'DOCUMENTATION.N.L2'|translate}}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="rounded-lg-gray">&lt;m&gt;</span> ou
                                <span class="rounded-lg-gray">&lt;mmmm&gt;</span>
                            </td>
                            <td>{{'DOCUMENTATION.N.L3'|translate}}</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="rounded-lg-gray">&lt;j&gt;</span> ou
                                <span class="rounded-lg-gray">&lt;jjjj&gt;</span>
                            </td>
                            <td>{{'DOCUMENTATION.N.L4'|translate}}</td>
                        </tr>
                        <tr>
                            <td><span class="rounded-lg-gray">&lt;cmp&gt;</span></td>
                            <td>{{'DOCUMENTATION.N.L5'|translate}}</td>
                        </tr>
                        <tr>
                            <td><span class="rounded-lg-gray">&lt;facture|devis|avoir|acompte&gt;</span></td>
                            <td>{{'DOCUMENTATION.N.L6'|translate}}</td>
                        </tr>
                      </table>
                </div>

                <app-custom-input type="integer" (ngModelChange)="setFormatResult()" [control]="numerotationForm.controls['minCounterSize']"
                    placeholder="{{'FORM.INPUT.TMC' | translate}}"></app-custom-input>

                <div class="relative">
                    <label class="common-label">{{'FORM.INPUT.RC' | translate}}</label>
                    <ng-select class="custom-select-gray" placeholder="{{'FORM.INPUT.RC' | translate}}" [items]="resetCounterSelectList"
                        [clearable]="false" bindLabel="label" [compareWith]="comparWith" formControlName="resetCounter">
                    </ng-select>
                </div>

                <app-custom-input type="text" [control]="numerotationForm.controls['formatResult']"
                    placeholder="{{'FORM.INPUT.AR' | translate}}"></app-custom-input>

            </div>


        </div>

        <div class="flex flex-col gap-6">
            <span class="secondary-title">{{'FORM.TITLE.CP' | translate}}</span>

            <div class="flex flex-col gap-6">

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterDevis']"
                    placeholder="{{'FORM.INPUT.DCD' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterFacture']"
                    placeholder="{{'FORM.INPUT.DCF' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterAvoir']"
                    placeholder="{{'FORM.INPUT.DCA' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterAcompte']"
                    placeholder="{{'FORM.INPUT.DCFA' | translate}}"></app-custom-input>

            </div>

            <div class="grid grid-cols-3 gap-8 mt-4 w-full">
                <button class="common-btn-black col-span-2 " [disabled]="numerotationForm.invalid " appDebounceClick
                    (debounceClick)="onSave()">
                    {{'FORM.BUTTON.EN' | translate}}
                </button>
                <button #add class="common-btn-gray" routerLink="/..">{{'FORM.BUTTON.A' | translate}}</button>
            </div>
        </div>



    </form>
</section>
