<section>
  <app-top-bar for="FA" type="list"  ></app-top-bar>
  <app-empty-data-message for="FA" *ngIf="isEmpty"></app-empty-data-message>

  <div>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 auto-rows-fr p-3">
          <app-card *ngFor="let factureAcompte of factureAcomptes | paginate : {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: count
            }; let i = index"
          for="FA" [data]="factureAcompte" (refreshListPage)="onRefresh()"></app-card>
      </div>


      <app-pagination (pageChange)="pageChange($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>


  </div>

</section>
