@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{

    // START SPANS STYLE

    .rounded-full-gray{
        @apply p-3 bg-gray-1 rounded-full ;
    }
    .rounded-full-white{
        @apply p-1 bg-white-1 rounded-full ;
    }

    .rounded-lg-white{
        @apply p-3 bg-white-1 rounded-lg;
    }

    .rounded-lg-gray{
        @apply p-1 px-2 bg-gray-1 rounded-lg;
    }

    .rounded-full-black{
        @apply bg-black-1 text-white-2 py-1 px-2 rounded-full ;
    }

    // END SPANS STYLE




    //START BUTTONS STYLE

    .common-btn-gray{
        @apply bg-gray-1 rounded-full p-2 hover:ring-1 hover:ring-black-1 focus:ring-1 focus:ring-black-1 disabled:opacity-50 disabled:ring-0;
    }
    .common-btn-gray-active{
        @apply text-white-1 bg-black-1;
        svg-icon{
            @apply stroke-white-1;
        }
    }
    .common-btn-black{
        @apply bg-black-1 text-white-1 hover:bg-white-1  hover:text-black-1 rounded-full p-2 hover:ring-1 hover:ring-black-1 disabled:opacity-70 disabled:ring-0 disabled:bg-black-1 disabled:text-white-1;

        svg-icon{
            @apply stroke-white-1;
        }
        &:hover > svg-icon{
            @apply stroke-black-1;
        }
    }



    .common-btn-white{
        @apply bg-white-1 rounded-full p-2 hover:ring-1 hover:ring-black-1 focus:ring-1 focus:ring-black-1;
    }

    .common-btn-gray-3{
      @apply bg-gray-3 rounded-full p-2 hover:ring-1 hover:ring-black-1 focus:ring-1 focus:ring-black-1;
  }

    .common-btn-hover-gray{
        @apply px-2 py-1 flex gap-2 items-center hover:bg-gray-1 rounded-full;

        &:hover > .icon-span{
            @apply bg-white-1

        }
    }

    .common-btn-arrow{
        @apply p-1 bg-gray-1 rounded-t-full hover:ring-1 hover:ring-black-1 disabled:opacity-40 disabled:ring-0
    }


    // END BUTTONS




    // START INPUTS STYLE

    .common-input{
        @apply py-3 px-4 text-sm placeholder-gray-2 bg-gray-1 focus:outline-none rounded-full w-full  ;
    }
    .common-input-white{
      @apply py-3 px-4 text-sm placeholder-gray-2 bg-white-1 focus:outline-none rounded-full w-full  ;
  }
    .common-textarea{
        @apply py-3 px-4 text-sm placeholder-gray-2 bg-gray-1 focus:outline-none rounded-2xl w-full ;
    }

    .input-error{
        @apply ml-4;
        > span{
            @apply text-red text-xs;
        }

    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        @apply appearance-none m-0
    }

    // END INPUTS STYLE



    // START TITLES STYLE

    .primary-title{
        @apply text-xl font-black;
    }
    .secondary-title{
        @apply font-black;
    }

    //END TITLES STYLE




    // START DROP MENU STYLE

    .drop-menu{
        @apply absolute z-20 w-fit bg-opacity-95  space-y-3 p-3 right-0 top-11 origin-top-right rounded-lg bg-white-1  shadow-lg ring-1 ring-black-1;

        >.item-active{
          >span{
            @apply font-black text-gray-5;
          }
          >svg-icon{
              @apply stroke-2 ;
          }
        }
    }
    .item-menu-sm{
        @apply text-sm;

        svg-icon{
            @apply w-4 h-4;
        }
    }

    .item-menu-active{
        @apply font-black text-gray-5 ;
    }

    .drop-menu-line{
        @apply border-black-1 border-b rounded-full border-opacity-50;

    }
    .item-menu-xs{
        @apply text-xs;
        svg-icon{
            @apply w-3 h-3;
        }
    }

    .item-menu-sm,.item-menu-xs{
        @apply flex space-x-2 font-thin text-black-2  items-center;
        span{
            @apply whitespace-nowrap
        }
        svg-icon{
            @apply stroke-black-2  ;
        }

        &:hover > span{
            @apply font-black ;
        }
        &:hover > svg-icon{
            @apply stroke-2 ;
        }
    }



    // END DROP MENU STYLE




    // START CARD STYLE

    .card{
        @apply text-xs p-7 space-y-4  bg-gray-1 rounded-lg shadow-sm flex flex-col;
    }
    .type-client-card{
        @apply w-72 h-56 flex flex-col gap-3 p-7  bg-gray-1 rounded-lg shadow-sm hover:ring-1 hover:ring-black-1 focus:ring-1 focus:ring-black-1;
    }


    // END CARD STYLE




    // START ICONS STYLE

    svg-icon{
        fill:none;
        stroke:theme('colors.black[2]');
        stroke-width:1.5;
        stroke-linecap:round;
        stroke-linejoin:round;
    }

    // END ICONS STYLE




    // Start pagination-templte  Style

    .page-btn{
        @apply text-sm bg-gray-1 rounded-full p-2 h-fit w-fit hover:ring-1 hover:ring-black-1 focus:ring-1 focus:ring-black-1 disabled:opacity-50 disabled:ring-0 ;
    }

    // End pagination-templte Style




    // Start Label Style

    .common-label{
        @apply absolute text-xs py-0.5 px-2 text-gray-2 rounded-full  bg-white-1 z-10 top-[-10px] left-3;
    }

    // End label Style




    // Start Table Style
    .doc-table{
        @apply border-[1.5px] border-black-1 border-separate rounded-lg border-spacing-0;

        > tr > td{
            @apply p-1;
        }

        td:not(:last-child){
            @apply border-r-[1.5px] border-black-1;
        }

        >tr:not(:last-child)>td{
            @apply border-b-[1.5px] border-black-1;
        }

    }





    // End Table Style
}
