@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind variants;

@layer components{
    svg-icon{
        fill:none;
        stroke:theme('colors.black[2]');
        stroke-width:1.5;
        stroke-linecap:round;
        stroke-linejoin:round;
    }


    .i-3{
        @apply w-3;
    }
    .i-4{
        @apply w-4;
    }
    .i-5{
        @apply w-5;
    }
    .i-6{
        @apply w-6;
    }

    
}

