
<div class="card h-full">

    <div class="grid grid-cols-3 ">
        <a class="flex space-x-3 col-span-2" [routerLink]="navigate.toShowPath(for,data.id,data.slug)">
            <div class="rounded-lg-white">
                <svg-icon svgClass="w-6" [name]="card.mainIcon" *ngIf="card.mainIcon" ></svg-icon>
            </div>
            <div class="flex flex-col justify-center">
                <span class="text-sm font-semibold   w-32 " *ngIf="card.primaryTitle">{{card.primaryTitle}}</span>
                <span class="text-gray-2" *ngIf="card.secondaryTitle" >{{card.secondaryTitle}}</span>
            </div>
        </a>

        <div class="flex items-center justify-self-end">
            <app-drop-menu type="edit" size = "xs" [for]="for" [param]="[data.id,data.slug]"></app-drop-menu>
        </div>
        
    </div>
    <div *ngIf="card.paragraph">
        <p class="text-gray-2 text-justify">
            {{card.paragraph}}
        </p>
    </div>
    <div class="space-y-1" *ngIf="card.secondaryData">
        <div class="flex space-x-2" *ngFor="let element of card.secondaryData ">
            <span class="rounded-full-white" > 
                <svg-icon svgClass="w-3" [name]="element.icon"></svg-icon> 
            </span>
            <span class="flex items-center">{{element.data}}</span>
        </div>
    </div>
    <div class="flex space-x-1" *ngIf="this.card.keyWord">
        
        
        <span class="rounded-full-black" *ngFor="let word of card.keyWord | slice:0:3 ">{{word}}</span>
        <span class="rounded-full-black" *ngIf="card.keyWord.length > 3">+{{card.keyWord.length-3}}</span>
    </div>

</div>