<form [formGroup]="addressForm" class="flex flex-col gap-6 ">


    <input type="text" placeholder="{{'FORM.INPUT.ADD' | translate}}" class="common-input" formControlName="address">

    <div class="grid grid-cols-5" *ngFor="let controller of controls; let i = index">

        <input type="text" placeholder="{{'FORM.INPUT.CADD' | translate}} {{(i+1)}}" class="common-input col-span-4"
            formControlName="{{controller}}">
        <div class="flex gap-1 justify-center items-center">
            <button class="common-btn-gray" (click)="addAddressInput(i)" [disabled]="controls.length >= max">
                <svg-icon svgClass="w-3" name="plus"></svg-icon>
            </button>
            <button class="common-btn-gray" (click)="deleteAddressInput(i)" [disabled]="controls.length <= min">
                <svg-icon svgClass="w-3" name="minus"></svg-icon>
            </button>
        </div>
    </div>

    <input type="text" placeholder="{{'FORM.INPUT.CP' | translate}}" class="common-input" formControlName="codePostal">
    <div class="grid grid-cols-2 gap-2">
        <input type="text" placeholder="{{'FORM.INPUT.V' | translate}}" class="common-input" formControlName="city">

        <input type="text" placeholder="{{'FORM.INPUT.P' | translate}}" class="common-input" formControlName="country">

    </div>
</form>
