<nav class="bg-gray-1 p-4">
  <div class="flex justify-between">

    <div class="flex gap-5 w-fit ">
      <div class="flex flex-shrink-0 items-center">
        <img class="h-6" src="assets/svg/logo.svg" alt="logo" />
      </div>
      <div class="hidden gap-2 md2:flex ">
        <a class="item-style flex space-x-2 w-30 items-center" routerLink="" routerLinkActive="is-active">
          <span class="span-text">Espaces de travail </span>
          <svg-icon name="arrowdown" svgClass="w-4"></svg-icon>
        </a>

        <div class="flex gap-2" *ngIf="navBarType == 'facturation' ">


          <a class="item-style flex space-x-2 w-30 items-center" routerLink="{{navigate.facturationPath}}"
            [routerLinkActiveOptions]="{exact: true}" routerLinkActive="is-active">
            <svg-icon name="dashboard" svgClass="w-4"></svg-icon>
            <span class="span-text">Dashboard</span>
          </a>

          <a class="item-style flex space-x-2 items-center" routerLink="{{navigate.f_clientPath}}"
            routerLinkActive="is-active">
            <svg-icon name="clients" svgClass="w-4"></svg-icon>
            <span class="span-text">Clients</span>
          </a>
          <a class="item-style flex space-x-2 items-center" routerLink="{{navigate.f_societePath}}"
            routerLinkActive="is-active">
            <svg-icon name="societes" svgClass="w-4"></svg-icon>
            <span class="span-text ">Sociétés</span>
          </a>
          <a class="item-style flex space-x-2 items-center" routerLink="{{navigate.f_devisPath}}"
            routerLinkActive="is-active">
            <svg-icon name="devis" svgClass="w-4"></svg-icon>
            <span class="span-text">Devis</span>
          </a>
          <div class="relative" clickOutside (clickOutside)="dropMenuFacture = false">

            <button class="item-style flex space-x-2 items-center" (click)="dropMenuFacture  = !dropMenuFacture"
              [class.is-active]="checkfacturesRouteIsActive()">
              <svg-icon name="factures" svgClass="w-4"></svg-icon>
              <span class="span-text flex gap-2 items-center">
                Factures
                <svg-icon name="arrowdown" svgClass="w-4 "></svg-icon>
              </span>
            </button>

            <div class="drop-menu" *ngIf="dropMenuFacture">
              <a class="item-menu-sm" routerLink="{{navigate.f_simplePath}}" (click)="dropMenuFacture = false"
                routerLinkActive="item-active">
                <span>{{'DROP_MENU.NAVBAR.F.S' |translate}}</span>
              </a>
              <a href="#" class="item-menu-sm" routerLink="{{navigate.f_avoirPath}}" (click)="dropMenuFacture = false"
                routerLinkActive="item-active">
                <span>{{'DROP_MENU.NAVBAR.F.A' |translate}}</span>
              </a>
              <a href="#" class="item-menu-sm " routerLink="{{navigate.f_acomptePath}}"
                (click)="dropMenuFacture = false" routerLinkActive="item-active">
                <span>{{'DROP_MENU.NAVBAR.F.FA' |translate}}</span>
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="flex gap-2">
      <div class="flex ">
        <span class="bg-white-1 rounded-l-full px-3 flex items-center">
          <svg-icon name="search" svgClass="w-5"></svg-icon>
        </span>
        <input type="search" name="search" placeholder="Rechercher" [(ngModel)]="data"
          (ngModelChange)="dataSearchChange()" class=" text-sm h-full focus:outline-none rounded-r-full ">
      </div>

      <div class="flex gap-1">

        <button type="button" class="icon-btn sm:hidden">
          <svg-icon name="search" svgClass=" myicon "></svg-icon>
        </button>

        <button type="button" class="icon-btn">
          <svg-icon name="message" svgClass="myicon"></svg-icon>
        </button>

        <button type="button" class="icon-btn">
          <svg-icon name="notification" svgClass=" myicon "></svg-icon>
        </button>
      </div>

      <!-- profile Menu -->
      <div class="relative ml-3" clickOutside (clickOutside)="dropMenuProfile = false">


        <button class="common-btn-white flex items-center py-1 px-1 gap-2 " (click)="toggleDropMenuProfile($event)">
          <img class="h-7 w-7 rounded-full "
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
          <svg-icon name="arrowdown" svgClass="w-5" [class.rotate-180]="dropMenuProfile"></svg-icon>
        </button>


        <div class="drop-menu space-y-5 p-4" [ngClass]="dropMenuProfile ?  'block' : 'hidden'">

          <a class="item-menu-sm" routerLink="">
            <img class="w-5 h-5 rounded-full ring-1 ring-black-1 mr-1"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt="">
            <span>Profile</span>
          </a>

          <hr class="dropmenu-line">

          <a class="item-menu-sm" routerLink="{{navigate.f_settingsPath}}">
            <svg-icon name="settings" svgClass="w-4"></svg-icon>
            <span>Paramètres</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="feedback" svgClass="w-4"></svg-icon>
            <span>Feedback</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="help" svgClass="w-4"></svg-icon>
            <span>Aide</span>
          </a>

          <a class="item-menu-sm" routerLink="">
            <svg-icon name="logout" svgClass="w-4"></svg-icon>
            <span>Déconnexion</span>
          </a>

        </div>
      </div>
    </div>
  </div>

</nav>
