@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind variants;

$normal-color: theme('colors.white[1]');
$hover-color: theme('colors.black[1]');
$stroke-color: theme('colors.gray[2]');

@layer components{
    .item-style{
        @apply  text-black-1 bg-white-1 hover:bg-black-1 focus:text-white-2  focus:bg-black-1 px-3 py-2 rounded-4xl text-sm font-medium w-fit;
    }
    .is-active{
        @apply text-white-2  bg-black-1;
        transition-delay: 1s !important;
        width: 180px !important;
        max-width: fit-content !important;
        transition: width 0.8s ease-in-out !important;

        > svg-icon{
            @apply stroke-white-1;
        }

        .span-text {
            visibility: visible;
            opacity: 1;
            transition: visibility 1s linear 0s, opacity 300ms;
            
        }
        .icon-facture {
            visibility: visible;
            opacity: 1;
            transition: visibility 1s linear 0s, opacity 300ms;
            
        }


    }

    .icon-btn{
        @apply rounded-full w-8 h-8 px-2 focus:outline-none focus:ring-2 focus:ring-black-1 hover:outline-none hover:ring-2 hover:ring-black-1;
    }
    

    .profile-btn{
        @apply space-x-3 flex rounded-full  hover:outline-none hover:ring-2 hover:ring-black-1 focus:outline-none focus:ring-2 focus:ring-black-1 ;
        padding: 3px;
    }
    
    .drop-menu-profile{
        @apply absolute space-y-2 p-3 pt-5 right-0 top-11 origin-top-right rounded-lg bg-white-1  shadow-lg ring-1 ring-black-1;
    }

    .item-menu-profile{
        @apply flex space-x-2 text-sm px-1 py-2 rounded-lg hover:ring-1 hover:ring-black-1 focus:bg-black-1;

        > span{
            margin-top: -1px;
        }

        &:focus > span{
            @apply text-white-1;
        }
        &:focus > svg-icon{
            @apply stroke-white-1;
            
        }

        
    }
}

.profile-btn{
    background-color: $normal-color;
}

.dropmenu-line{
    color: $stroke-color;
    border-width: 1px;

}

.search-btn{
    background-color: $normal-color;

    &:hover{
        background-color: $hover-color;
        > svg-icon{
            stroke: $normal-color;
        }
    }
}

// input[type="search"]::-webkit-search-decoration,
// input[type="search"]::-webkit-search-cancel-button,
// input[type="search"]::-webkit-search-results-button,
// input[type="search"]::-webkit-search-results-decoration {
//   display: none;
// }

input[type="search"]{
    padding-left: 5px;
    padding-right: 20px;
}


.icon-btn{
    
    &:hover,&:focus{
        background-color: $normal-color;
    }
    
}

.span-text,.icon-facture{

    visibility: hidden;
    opacity: 0;
    transition: visibility 1s linear 300ms, opacity 300ms;
}

.item-style{
    width: 40px;
    max-width: fit-content;
    transition: width 0.8s ease-in-out;
    transition-delay: -300ms;
    
    &:focus{
        transition-delay: 1s;
        width: 300px;
        max-width: fit-content;
        transition: width 0.8s ease-in-out;
        
        
    }

    &:focus > .span-text {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s linear 0s, opacity 1s;
        
    }
    &:focus > .icon-facture {
        visibility: visible;
        opacity: 1;
        transition: visibility 1s linear 0s, opacity 1s;
        
    }

    &:focus > svg-icon{
            stroke: $normal-color ;
        }
    

    &:hover >  svg-icon{
            stroke: $normal-color;
    }
    
    
}

  