<form [formGroup]="clientForm">
    <div class="flex justify-between mb-5">
        <span class="primary-title">{{'TITLE.C' | translate}}</span>

        <div class="flex gap-2 text-sm" *ngIf="isPar != null">
            <button class="common-btn-gray flex gap-2 " (click)="toParticulier()" [class.common-btn-gray-active]="isPar">
                <svg-icon name="par" svgClass="w-5"></svg-icon>
                <span>{{ 'CLIENT_CARD.TYPE.PAR.L1'| translate}}</span>
            </button>

            <button class="common-btn-gray flex gap-2" (click)="toProfessionel()"
                [class.common-btn-gray-active]="!isPar">
                <svg-icon name="pro" svgClass="w-5"></svg-icon>
                <span>{{ 'CLIENT_CARD.TYPE.PRO.L1'| translate}}</span>
            </button>

        </div>
    </div>

    <div class=" sm:h-[400px] flex flex-col py-8 sm:flex-row sm:justify-center items-center gap-6"
        *ngIf="isPar == null && this.isAddMode" >

        <button class="type-client-card" (click)="toParticulier()">
            <div class="rounded-lg bg-white-1 p-5">
                <svg-icon name="par" svgClass="w-11 stroke-1"></svg-icon>
            </div>
            <div class="flex flex-col items-start gap-1">
                <span class="text-xl font-semibold">{{ 'CLIENT_CARD.TYPE.PAR.L1'| translate}}</span>
                <span class="text-base text-gray-2">{{ 'CLIENT_CARD.TYPE.PAR.L2'| translate}}</span>
            </div>
        </button>

        <button class="type-client-card" (click)="toProfessionel()">
            <div class="rounded-lg bg-white-1 p-5">
                <svg-icon name="pro" svgClass="w-11 stroke-1"></svg-icon>
            </div>
            <div class="flex flex-col items-start gap-1">
                <span class="text-xl font-semibold">{{ 'CLIENT_CARD.TYPE.PRO.L1'| translate}}</span>
                <span class="text-base text-gray-2">{{ 'CLIENT_CARD.TYPE.PRO.L2'| translate}}</span>
            </div>
        </button>

    </div>


    <div class="grid grid-cols-1 gap-9 sm:grid-cols-2 md:grid-cols-3"
        *ngIf="isPar != null">

        <!-- Informations column -->

        <form [formGroup]="clientForm" class="flex flex-col gap-6">
            <div>
                <span class="secondary-title">{{'FORM.TITLE.INF' | translate}}</span>
            </div>
            <div class="flex flex-col gap-6 ">
                <input type="text" placeholder="{{'FORM.INPUT.FN' | translate}} *" class="common-input"
                    formControlName="firstName" required>
                <input type="text" placeholder="{{'FORM.INPUT.LN' | translate}} *" class="common-input"
                    formControlName="lastName">
                <input type="text" placeholder="{{'FORM.INPUT.EMAIL' | translate}}" class="common-input"
                    formControlName="email">
                <input type="text" placeholder="{{'FORM.INPUT.F' | translate}}" class="common-input"
                    formControlName="function">
                <input type="text" placeholder="{{'FORM.INPUT.SI' | translate}} " class="common-input"
                    formControlName="website" *ngIf="isPar">
                <ng-select class="custom " placeholder="{{'FORM.INPUT.LANG' | translate}} *" [items]="languages"
                    formControlName="language">
                </ng-select>
            </div>
        </form>

        <!-- Coordonnées du client column -->
        <div class="flex flex-col gap-6">
            <div>
                <span class="secondary-title">{{'FORM.TITLE.CC' | translate}}</span>
            </div>


            <ng-container *ngIf="isPar; else pro">
                <!-- address form  -->
                <app-address-form for="C"></app-address-form>

                <!-- phone Form -->
                <app-phone-form for="C"></app-phone-form>

            </ng-container>
            <ng-template #pro>
                <div class="gap-11 flex flex-col">
                    <!-- phone Form -->
                    <app-phone-form for="C"></app-phone-form>

                    <!-- select client form -->

                    <div class="flex flex-col gap-6">
                        <div>
                            <span class="secondary-title">{{'FORM.TITLE.S' | translate}}</span>
                        </div>
                        <ng-select [items]="societes" bindLabel="name" class="custom w-full text-sm"
                            placeholder="{{'FORM.INPUT.SS' | translate}}" formControlName="societe">
                        </ng-select>
                    </div>

                    <!-- Mots clés Form -->
                    <app-key-word-form for="C"></app-key-word-form>
                </div>
            </ng-template>


        </div>



        <!-- client and Mots clés column -->
        <div class="flex flex-col gap-11 relative">


            <!-- Mots clés Form -->
            <app-key-word-form for="C" *ngIf="isPar"></app-key-word-form>

            <!-- Note area -->
            <div class="flex flex-col gap-6">
                <div>
                    <span class="secondary-title">{{'FORM.TITLE.N' | translate}}</span>
                </div>
                <textarea class="common-textarea resize-none " placeholder="{{'FORM.INPUT.N' | translate}}" rows="6" formControlName="note">
                </textarea>
            </div>

            <div class="flex flex-col gap-6 mt-10 ">
                <div class="grid grid-cols-3 gap-5 absolute bottom-0 w-full">
                    <button class="common-btn-black col-span-2 " [disabled]="clientForm.invalid" appDebounceClick
                        (debounceClick)="onSubmit()">
                        <ng-container *ngIf="isAddMode  else editButton">{{'FORM.BUTTON.C' | translate}}</ng-container>
                        <ng-template #editButton>{{'FORM.BUTTON.E' | translate}}</ng-template>
                    </button>
                    <button #add class="common-btn-gray" routerLink="{{navigate.f_clientPath}}">{{'FORM.BUTTON.A' | translate}}</button>
                </div>
            </div>

        </div>

    </div>

</form>

