<div class="relative" clickOutside (clickOutside)="closeMenu()">
    <button class="common-btn-white "  (click)="toggleDropMenu()" *ngIf=" type === 'edit' ">
        <svg-icon name ="3dots" svgClass ="w-3" ></svg-icon>
    </button>

    <button class="common-btn-gray" (click)="toggleDropMenu()" *ngIf="type === 'list' || type === 'show' ">
        <svg-icon name="3dots" svgClass="w-5"></svg-icon>
    </button>



    <!-- drop menu add -->

    <div class="drop-menu" *ngIf="dropMenu && type === 'list' "  >
        <a class="item-menu-sm" [routerLink]="navigate.toAddPath(for)">
            <svg-icon name="add"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L1' |translate}}</span>
            
        </a>
        <a href="#" class="item-menu-sm ">
            <svg-icon name="export"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L2' |translate}}</span>
        </a>
    </div>
    
    <!-- drop menu edit -->
    <div class="drop-menu" *ngIf="dropMenu  && (type === 'edit' || type === 'show') ">
        
        <a class="item-menu-{{size}}" [routerLink]="navigate.toEditPath(for,param[0],param[1])"  >
            <svg-icon name="edit" ></svg-icon>
            <span >{{'DROP_MENU.EDIT.L1' |translate}}</span>
        </a>

        <a  class="item-menu-{{size}}" href="#">
            <svg-icon name="delete"></svg-icon>
            <span>{{'DROP_MENU.EDIT.L2' |translate}}</span>
        </a>
        <div class="flex flex-col space-y-2">
            <hr class="drop-menu-line"> 
            <span class="text-gray-2 mt-10 text-[10px]">{{'DROP_MENU.EDIT.'+for+'.L3' |translate}}</span>
        </div>

        <a class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.'+for+'.L4' |translate}}</span>
        </a>

        <a  class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.'+for+'.L5' |translate}}</span>
        </a>
        <a  class="item-menu-{{size}}" href="#">
            <span>{{'DROP_MENU.EDIT.'+for+'.L6' |translate}}</span>
        </a>
        
    </div>
    
</div> 