<div class="relative flex gap-5" clickOutside (clickOutside)="closeMenu()">
    <!-- drop menu buttons -->

    <button class="common-btn-white " (click)="toggleDropMenu()" *ngIf=" type === 'edit' ">
        <svg-icon name="3dots" svgClass="w-4"></svg-icon>
    </button>

    <button class="common-btn-gray" (click)="toggleDropMenu()" *ngIf="type === 'list' || type === 'show' ">
        <svg-icon name="3dots" svgClass="w-5"></svg-icon>
    </button>

    <!-- drop menu add -->

    <div class="drop-menu" *ngIf="dropMenu && type === 'list' ">

        <a class="item-menu-sm" routerLink="add">
            <svg-icon name="add" svgClass="w-4"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L1' |translate}}</span>
        </a>
        <a href="#" class="item-menu-sm ">
            <svg-icon name="export" svgClass="w-4"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L2' |translate}}</span>
        </a>

    </div>

    <div class="drop-menu" *ngIf="dropMenu && type === 'list' ">

        <a class="item-menu-sm" routerLink="add">
            <svg-icon name="add" svgClass="w-4"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L1' |translate}}</span>
        </a>
        <a href="#" class="item-menu-sm ">
            <svg-icon name="export" svgClass="w-4"></svg-icon>
            <span>{{'DROP_MENU.LIST.'+for+'.L2' |translate}}</span>
        </a>
    </div>

    <!-- drop menu edit -->
    <div class="drop-menu" *ngIf="dropMenu  && (type == 'edit' || type == 'show') ">

        <ng-container *ngIf="for == 'D' || for=='F' ">
            <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.PROVISIONAL"
                (click)="finalizeIt()">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.FN' |translate}}</span>
            </button>

            <button class="item-menu-{{size}}" *ngIf="$any(data).status == DevisStatus.FINALIZED" (click)="signeIt()">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.MCS' |translate}}</span>
            </button>

            <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.FINALIZED" (click)="refuseIt()">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.MCR' |translate}}</span>
            </button>

            <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.SIGNED" (click)="finalizeIt()">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.AS' |translate}}</span>
            </button>

            <button class="item-menu-{{size}}" *ngIf=" $any(data).status == DevisStatus.REFUSED" (click)="finalizeIt()">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.AR' |translate}}</span>
            </button>
        </ng-container>

        <ng-container *ngIf="for == 'C' || for == 'S' || for == 'D' || for=='F' ">
            <a class="item-menu-{{size}} " [routerLink]="'edit/'+data.id+'-'+data.slug">
                <svg-icon name="edit" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span
                    *ngIf="$any(data).status && $any(data).status != DevisStatus.PROVISIONAL ; else modifyMotCle">{{'DROP_MENU.EDIT.MMC'
                    |translate}}</span>
                <ng-template #modifyMotCle><span>{{'DROP_MENU.EDIT.M' |translate}}</span></ng-template>
            </a>

            <button class="item-menu-{{size}}" (click)="delete()" *ngIf="for == 'C' || for == 'S' ||
            (for == 'D'  && $any(data).status  == DevisStatus.PROVISIONAL )">
                <svg-icon name="delete" [ngClass]="type == 'edit'? 'w-3' : 'w-4' "></svg-icon>
                <span>{{'DROP_MENU.EDIT.SP' |translate}}</span>
            </button>
        </ng-container>

        <div class="flex flex-col space-y-2">
            <hr class="drop-menu-line">
            <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='C'">{{'DROP_MENU.EDIT.PC' |translate}}</span>
            <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='S'">{{'DROP_MENU.EDIT.PS' |translate}}</span>
            <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='D'">{{'DROP_MENU.EDIT.PD' |translate}}</span>
            <span class="text-gray-2 mt-10 text-[10px]" *ngIf="for =='F'">{{'DROP_MENU.EDIT.PF' |translate}}</span>
        </div>

        <ng-container *ngIf=" for == 'D' || for == 'F' ">
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.T' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.EPE' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CU' |translate}}</span>
            </a>
        </ng-container>

        <ng-container *ngIf="for == 'D' && $any(data).status == DevisStatus.SIGNED">
            <hr class="drop-menu-line">
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CF' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CFA' |translate}}</span>
            </a>
        </ng-container>

        <ng-container *ngIf="for == 'S' || for == 'C' ">
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CA' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CD' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.CF' |translate}}</span>
            </a>
        </ng-container>


        <ng-container *ngIf="for == 'D'">
            <hr class="drop-menu-line">
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.DD' |translate}}</span>
            </a>
            <a class="item-menu-{{size}}" href="#">
                <span>{{'DROP_MENU.EDIT.DF' |translate}}</span>
            </a>
        </ng-container>

    </div>


    <!-- drop menu Filter -->
    <ng-container *ngIf="for == 'D' && type == 'filter'">

        <div class="hidden sm:flex sm:gap-2 sm:text-sm">
            <button class="common-btn-gray" (click)="changeFilterStatus(null)"
                [class.common-btn-gray-active]="!statusActive">{{ 'STATUS.T' |translate}}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.PROVISIONAL)"
                [class.common-btn-gray-active]="statusActive == DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
                |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.FINALIZED)"
                [class.common-btn-gray-active]="statusActive == DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.SIGNED)"
                [class.common-btn-gray-active]="statusActive == DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.REFUSED)"
                [class.common-btn-gray-active]="statusActive == DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate
                }}</button>
        </div>

        <button class="common-btn-black flex items-center gap-1 text-sm sm:hidden" (click)="toggleDropMenu()">
            <span *ngIf="statusActive == null">{{ 'STATUS.T' |translate}}</span>
            <span *ngIf="statusActive == DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL' |translate}}</span>
            <span *ngIf="statusActive == DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate}}</span>
            <span *ngIf="statusActive == DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate}}</span>
            <span *ngIf="statusActive == DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate}}</span>
            <svg-icon name="arrowdown" svgClass="w-4" *ngIf="!dropMenu ; else arrowdown"></svg-icon>
            <ng-template #arrowdown>
                <svg-icon name="arrowup" svgClass="w-4" *ngIf="dropMenu ; else arrowdown"></svg-icon>
            </ng-template>
        </button>

        <div class="drop-menu text-sm sm:hidden" *ngIf="dropMenu">
            <button class="common-btn-gray" (click)="changeFilterStatus(null)" *ngIf="statusActive">{{ 'STATUS.T'
                |translate}}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.PROVISIONAL)"
                *ngIf="statusActive != DevisStatus.PROVISIONAL">{{ 'STATUS.PROVISIONAL'
                |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.FINALIZED)"
                *ngIf="statusActive != DevisStatus.FINALIZED">{{ 'STATUS.FINALIZED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.SIGNED)"
                *ngIf="statusActive != DevisStatus.SIGNED">{{ 'STATUS.SIGNED' |translate
                }}</button>
            <button class="common-btn-gray" (click)="changeFilterStatus(DevisStatus.REFUSED)"
                *ngIf="statusActive != DevisStatus.REFUSED">{{ 'STATUS.REFUSED' |translate
                }}</button>
        </div>
    </ng-container>
</div>
