<section>
    <div class="flex justify-between mb-5">

        <span class="primary-title" >Environment X</span>

        <div class="flex gap-4">

            <!-- 3dots menu | edit| list | show -->
            <app-drop-menu-global></app-drop-menu-global>

        </div>

    </div>

    <div>
      <app-empty-data-message for="ESP" (btnClicked)="openModel()"></app-empty-data-message>
      <!-- <button class="common-btn-black" (click)="openModel()"> test</button> -->
    </div>

</section>

<app-add-modal></app-add-modal>

