<app-top-bar for="s" type="list"  ></app-top-bar>

<div class="flex justify-center items-center " *ngIf="isEmpty">
    <div class="flex flex-col text-center space-y-5">

        <span>Aucun société a afficher<br>cliquez sur le bouton pour l'ajouter</span>

        <div class="flex justify-center items-center">

            <button class="common-btn-gray space-x-2 flex" routerLink="/societes/add">
                <svg-icon name="add" class="w-5 pt-0.5"></svg-icon>
                <span>Ajouter une société</span>
            </button>

        </div>
    </div>
</div>

<div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 ">
        <app-card *ngFor="let societe of societes" for="s" [data]="societe"></app-card>
    </div>

</div>

