<app-top-bar for="s" type="list"  ></app-top-bar>

<div class="flex justify-center items-center " *ngIf="isEmpty">
    <div class="flex flex-col text-center space-y-5">

        <span>Aucun société a afficher<br>cliquez sur le bouton pour l'ajouter</span>

        <div class="flex justify-center items-center">

            <button class="common-btn-gray space-x-2 flex" routerLink="/societes/add">
                <svg-icon name="add" class="w-5 pt-0.5"></svg-icon>
                <span>Ajouter une société</span>
            </button>

        </div>
    </div>
</div>

<div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 ">
        <app-card *ngFor="let item of list" type="C" data="marwane"></app-card>

        <!-- <div class="card "  *ngFor="let h of list; let i = index" >
                <div class="grid grid-cols-3  ">
                    <a class="flex space-x-3 col-span-2" routerLink="/societes/show/{{i}}">
                        <div class="rounded-lg-white">
                            <svg-icon svgClass="i-6" name="clients"></svg-icon>
                        </div>
                        <div class="flex flex-col justify-center ">
                            <span class="text-sm font-semibold">Adam Smith</span>
                            <span class="text-gray-2" >Particulier</span>
                        </div>
                    </a>
                    

                    <div class=" flex items-center justify-self-end" clickOutside (clickOutside)="closeMenuEdit(i)">
                        <div class="relative" >

                            <button class="w-8 h-8 common-btn-white " (click)="toggleDropMenuEdit(i)">
                                <svg-icon name ="3dots"></svg-icon>
                            </button>
                
                            <div class="drop-menu" *ngIf="dropMenuEdit[i]" >
                                <a class="item-menu-xs" href="#"  >
                                    <svg-icon name="edit" ></svg-icon>
                                    <span >Modifier</span>
                                </a>

                                <a  class="item-menu-xs" href="#">
                                    <svg-icon name="delete" ></svg-icon>
                                    <span>Supprimer</span>
                                </a>
                                <div class="flex flex-col space-y-2">
                                    <hr class="drop-menu-line"> 
                                    <span class="text-gray-2 mt-10 text-[10px]">POUR CE CLIENT :</span>
                                </div>

                                <a class="item-menu-xs" href="#">
                                    <span>Créer une activité</span>
                                </a>

                                <a  class="item-menu-xs" href="#">
                                    <span>Créer un devis</span>
                                </a>
                                <a  class="item-menu-xs" href="#">
                                    <span>Créer une facture</span>
                                </a>

                            </div>
                            
                        </div> 
                    </div>
                    

                </div>
                <div>
                    <p class="text-gray-2 text-justify">
                        Lorem ipsum dolor sit amet, tetuer adipiscing elit, sed diam nonummy nibh euismod..
                    </p>
                </div>
                <div >
                    <div class="flex space-x-2">
                        <span class="rounded-full-white" > 
                            <svg-icon svgClass="i-3" name="phone"></svg-icon> 
                        </span>
                        <span class="flex items-center">+212 600 000 000</span>
                    </div>
                    <div class="flex space-x-2">
                        <span class="rounded-full-white" > 
                            <svg-icon svgClass="i-3" name="email"></svg-icon> 
                        </span>
                        <span class="flex items-center">adam.smith@email.com</span>
                    </div>
                    <div class="flex space-x-2">
                        <span class="rounded-full-white" > 
                            <svg-icon svgClass="i-3" name="map"></svg-icon> 
                        </span>
                        <span class="flex items-center">Agadir, Maroc</span>
                    </div>
                    
                </div>
                <div class="flex space-x-1">
                    <span class="bg-black-1 text-white-2 py-1 px-2 rounded-full " *ngFor="let mot of motCle | slice:0:3">{{mot}}</span>
                    <span class="bg-black-1 text-white-2 py-1 px-2 rounded-full " >+{{motCle.length-3}}</span>
                </div>

            </div> -->
    </div>

</div>