<app-top-bar for="S" type="show" sizeMenu="sm" [param]="[id,slug]"></app-top-bar>


<section class="grid grid-cols-1 md:grid-cols-2 gap-24 ">
	<!-- Informations column -->

	<div class="flex flex-col gap-6 ">
		<div>
			<span class="secondary-title">{{'FORM.TITLE.INF'|translate}}</span>
		</div>
		<div class="flex flex-col space-y-8 " >

			<div class="flex flex-col space-y-3 " *ngIf="societe.name">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.S' | translate}} :</span>
					<div class="col-span-3">{{societe.name}}</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf="societe.ntva">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.NT' | translate}} :</span>
					<div class="col-span-3">{{societe.ntva}}</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 " *ngIf="societe.siren">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.SIREN' | translate}} :</span>
					<div class="col-span-3">{{societe.siren}}</div>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 " *ngIf="societe.codeNaf">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.NAF' | translate}} :</span>
					<div class="col-span-3">{{societe.codeNaf}}</div>
				</div>
				<hr>
			</div>



			<div class="flex flex-col space-y-3 " *ngIf="societe.clientList && societe.clientList.length">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.TITLE.C' | translate}} :</span>
					<div class="col-span-3 flex flex-wrap gap-2">
						<span class="rounded-full-black" *ngFor="let client of societe.clientList"> {{client.firstName+ " "+client.lastName}}</span>
					</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf=" societe.address && (societe.address.address || societe.address.complementAddress)">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.ADD' | translate}} :</span>
					<div class="col-span-3 flex flex-col">
						<span *ngIf="societe.address.address">{{societe.address.address}}</span>
						<ng-container *ngIf="societe.address.complementAddress && societe.address.complementAddress.length">					
							<div  *ngFor="let complementAddress of societe.address.complementAddress">
								{{complementAddress}}
							</div>
						</ng-container>
					</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf="societe.phoneList && societe.phoneList.length">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.NT' | translate}} :</span>
					<div class="col-span-3 flex flex-col">		
						<div  *ngFor="let phone of societe.phoneList">
							{{phone.phoneNumber}}
						</div>
						
					</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 " *ngIf="societe.address && societe.address.city">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.V' | translate}} :</span>
					<div class="col-span-3"> {{societe.address.city}} </div>
				</div>
				<hr>
			</div> 
			<div class="flex flex-col space-y-3" *ngIf="societe.address && societe.address.country">
				<div class=" grid grid-cols-4 gap-4 ">
					<span class="text-gray-2">{{'FORM.INPUT.P' | translate}} :</span>
					<div class="col-span-3">{{societe.address.country}} </div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf="societe.website">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.EMAIL' | translate}} :</span>
					<div class="col-span-3">{{societe.website}}</div>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3" *ngIf="societe.language">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.INPUT.LANG' | translate}} :</span>
					<div class="col-span-3 ">{{societe.language}} </div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3" *ngIf="societe.motCleList && societe.motCleList.length">
				<div class=" grid grid-cols-4 gap-4">
					<span class="text-gray-2">{{'FORM.TITLE.MC' | translate}} :</span>
					<div class="col-span-3 flex flex-wrap gap-2">
						<span class="rounded-full-black" *ngFor="let motCle of societe.motCleList"> {{motCle.mot}}</span>
					</div>
				</div>
				<hr>
			</div>


		</div>

		


	</div>

	<!-- Activites column -->
	<app-activity-panel></app-activity-panel>
	
</section>

















<!-- <section class="pt-24 h-screen bg-blue">
    
    <div class="container  mx-auto">
        <app-slider class="block rounded-3xl bg-emerald-50 p-2 py-5 sm:p-10" *ngIf="this.categories.length > 0" [items]="this.categories"  >
            
        </app-slider>
    </div>
    
</section> -->

<!-- <div class="container">
	<div class="section section--demo" id="examples">
		<h1>Examples</h1>

		<div class="demo">
			<carousel
				[images]="images"
				[objectFit]="'cover'">
				
				
			</carousel>

		</div>

	</div>
</div>		 -->