<app-top-bar for="s" type="show" sizeMenu="sm"></app-top-bar>





<section class="grid grid-cols-1 md:grid-cols-2 gap-24 ">
	<!-- Informations column -->

	<div class="col-flex-6 ">
		<div>
			<span class="secondary-title">{{'FORM.TITLE.INF'|translate}}</span>
		</div>
		<div class="flex flex-col space-y-8 ">
			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.F' | translate}} :</span>
					<div class="col-span-3">comptable </div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.EMAIL' | translate}} :</span>
					<div class="col-span-3">adam.smith@email.com</div>
				</div>
				<hr>
			</div>

			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.S' | translate}} :</span>
					<div class="col-span-3">Coding Art </div>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.ADD' | translate}} :</span>
					<div class="col-span-3">Hay Tilila Agadir </div>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.P' | translate}} :</span>
					<div class="col-span-3">Maroc </div>
				</div>
				<hr>
			</div>
			<div class="flex flex-col space-y-3 ">
				<div class=" grid grid-cols-4">
					<span class="text-gray-2">{{'FORM.INPUT.LANG' | translate}} :</span>
					<div class="col-span-3 ">Français </div>
				</div>
				<hr>
			</div>
		</div>

		<div class="flex flex-col space-y-3 ">
			<div class=" grid grid-cols-4">
				<span class="text-gray-2">{{'FORM.TITLE.MC' | translate}} :</span>
				<div class="col-span-3 flex flex-wrap gap-2">
					<span class="rounded-full-black" *ngFor="let mot of motCle"> {{mot}}</span>
				</div>
			</div>
			<hr>
		</div>

		<div class="flex flex-col space-y-3 ">
			<div class=" grid grid-cols-4">
				<span class="text-gray-2">{{'FORM.INPUT.N' | translate}} :</span>
				<div class="col-span-3">my note </div>
			</div>
			<hr>
		</div>


	</div>

	<!-- Activites column -->
	<app-activity-panel></app-activity-panel>
	
</section>

















<!-- <section class="pt-24 h-screen bg-blue">
    
    <div class="container  mx-auto">
        <app-slider class="block rounded-3xl bg-emerald-50 p-2 py-5 sm:p-10" *ngIf="this.categories.length > 0" [items]="this.categories"  >
            
        </app-slider>
    </div>
    
</section> -->

<!-- <div class="container">
	<div class="section section--demo" id="examples">
		<h1>Examples</h1>

		<div class="demo">
			<carousel
				[images]="images"
				[objectFit]="'cover'">
				
				
			</carousel>

		</div>

	</div>
</div>		 -->