<section class="flex flex-col gap-6">
    <span class="primary-title text-lg">{{'TITLE.PN' | translate}}</span>
    <form [formGroup]="numerotationForm" class="grid grid-cols-1 gap-9 sm-md:grid-cols-2 ">
        <div class="flex flex-col gap-6">
            <span class="secondary-title">{{'FORM.TITLE.FM' | translate}}</span>
            <div class="flex flex-col gap-6">

                <app-custom-input (ngModelChange)="setFormatResult()" type="text" [control]="numerotationForm.controls['format']"
                    placeholder="{{'FORM.INPUT.FNR' | translate}}"></app-custom-input>

                <app-custom-input type="integer" (ngModelChange)="setFormatResult()" [control]="numerotationForm.controls['minCounterSize']"
                    placeholder="{{'FORM.INPUT.TMC' | translate}}"></app-custom-input>

                <div class="relative">
                    <label class="common-label">{{'FORM.INPUT.RC' | translate}}</label>
                    <ng-select class="custom" placeholder="{{'FORM.INPUT.RC' | translate}}" [items]="resetCounterSelectList"
                        [clearable]="false" bindLabel="label" [compareWith]="comparWith" formControlName="resetCounter">
                    </ng-select>
                </div>

                <app-custom-input type="text" [control]="numerotationForm.controls['formatResult']"
                    placeholder="{{'FORM.INPUT.AR' | translate}}"></app-custom-input>

            </div>


        </div>

        <div class="flex flex-col gap-6">
            <span class="secondary-title">{{'FORM.TITLE.CP' | translate}}</span>

            <div class="flex flex-col gap-6">

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterDevis']"
                    placeholder="{{'FORM.INPUT.DCD' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterFacture']"
                    placeholder="{{'FORM.INPUT.DCF' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterAvoir']"
                    placeholder="{{'FORM.INPUT.DCA' | translate}}"></app-custom-input>

                <app-custom-input type="integer" [control]="numerotationForm.controls['startCounterAcompte']"
                    placeholder="{{'FORM.INPUT.DCFA' | translate}}"></app-custom-input>

            </div>

            <div class="grid grid-cols-3 gap-8 mt-4 w-full">
                <button class="common-btn-black col-span-2 " [disabled]="numerotationForm.invalid " appDebounceClick
                    (debounceClick)="onSave()">
                    {{'FORM.BUTTON.EN' | translate}}
                </button>
                <button #add class="common-btn-gray" routerLink="/..">{{'FORM.BUTTON.A' | translate}}</button>
            </div>
        </div>



    </form>
</section>