<div class="flex flex-col gap-6">
    <span class="secondary-title">{{'FORM.TITLE.TAD' | translate}}</span>
    <div class="flex flex-col gap-3">
        <textarea class="common-textarea resize-none" placeholder="{{'FORM.INPUT.TEXT_FIELD.TI' | translate}} {{'FORM.INPUT.TEXT_FIELD.VISIBLE.D' | translate}}" rows="3" ></textarea>
        <textarea class="common-textarea resize-none" placeholder="{{'FORM.INPUT.TEXT_FIELD.TC' | translate}} {{'FORM.INPUT.TEXT_FIELD.VISIBLE.D' | translate}}" rows="3" ></textarea>
        <textarea class="common-textarea resize-none" placeholder="{{'FORM.INPUT.TEXT_FIELD.PP' | translate}} {{'FORM.INPUT.TEXT_FIELD.VISIBLE.D' | translate}}" rows="3" ></textarea>
        <textarea class="common-textarea resize-none" placeholder="{{'FORM.INPUT.TEXT_FIELD.CGV' | translate}} {{'FORM.INPUT.TEXT_FIELD.VISIBLE.D' | translate}}" rows="3" ></textarea>
    </div>
</div>