<section class="flex justify-between mb-5">

    <span class="primary-title" *ngIf="type != 'show'; else show">{{'TITLE.'+for | translate}}</span>
    <ng-template #show>
    <div class="flex gap-4 items-center">
        <button class="common-btn-gray">
            <svg-icon name="plus" svgClass="w-5" [routerLink]="navigate.toBasePath(for)" ></svg-icon>
        </button>
        <div class="flex flex-col">
            <span class="text-sm font-semibold" *ngIf="showData[0]">{{showData[0]}}</span>
            <span class="text-xs text-gray-2" *ngIf="showData[1]">{{showData[1]}}</span>
        </div>
    </div>   
    </ng-template>

    <app-drop-menu [type]="type" [size]="sizeMenu" [for]="for" [param]="param" *ngIf ="type !== 'add'"></app-drop-menu>

</section>
