/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/semantic.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font/Poppins-Regular.otf');
}

@layer components{
    body,html{
        @apply h-full font-popping;
    }

    body{
        @apply m-0;
    }

    .main-container{
        @apply px-9 py-5 ;
    }

    .ng-select.ng-select-multiple.custom-select-gray, .ng-select.ng-select-multiple.custom-select-white {
      > .ng-select-container .ng-value-container .ng-value{
        @apply bg-black-1 text-white-1 rounded-full p-1  text-xs;
      }

    }

    .ng-select.ng-select-multiple.custom-select-gray, .ng-select.ng-select-multiple.custom-select-white {
      > .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
        @apply bg-white-1 text-black-1;
      }

    }
    .ng-select.ng-select-multiple.custom-select-gray, .ng-select.ng-select-multiple.custom-select-white  {
      >.ng-select-container .ng-value-container .ng-value .ng-value-icon.left{
        @apply border-r-0;
      }

    }
    .ng-select.ng-select-multiple.custom-select-gray, .ng-select.ng-select-multiple.custom-select-white  {
        > .ng-select-container .ng-value-container .ng-value .ng-value-icon{
          @apply inline-block bg-gray-2 rounded-full text-white-1;
          padding: 0px 4px;
        }


    }

    /* MODAL STYLES
-------------------------------*/
modal {
  /* modals are hidden by default */
  display: none;

  .modal {
      /* modal container fixed across whole screen */
      @apply flex justify-center items-center fixed top-0 bottom-0 right-0 left-0 z-[1000] overflow-auto;


      .modal-body {
        @apply p-7 bg-gray-1 ring-1 ring-black-1 m-3 rounded-4xl;
      }
  }

  .modal-background {
      /* modal background fixed across whole screen */

      @apply fixed top-20 right-0 left-0 bottom-0 bg-gray-1 opacity-60  z-[900];

      }
    }

    // body.modal-open {
    //   /* body overflow is hidden to hide main scrollbar when modal window is open */
    //   overflow: hidden;
    // }





}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    color: red
}



.ng-select.custom-select-gray, .ng-select.custom-select-white{
    border:0px;
    min-height: 0px;
    border-radius: 0;
    padding: 6px 6px 1px 6px;
    border-radius: 100px;
    font-size: 0.875rem/* 14px */ !important;
    line-height: 1.25rem/* 20px */ !important;
}

.ng-select.custom-select-gray  , .ng-select.custom-select-white    {
   > .ng-select-container{
    background:none !important;
    border: none ;
    box-shadow: none !important;
    padding-bottom: 6px;
   }

}

.ng-select.custom-select-white{
  background-color: theme('colors.white[1]');
}

.ng-select.custom-select-gray{
  background-color: theme('colors.gray[1]');
}

.ngx-pagination {
    padding-left: 0px !important;
}

.ngx-pagination .current,.btn-info {
    background: red !important;
    border: transparent !important;
    border-radius: 20px !important;

}

.ngx-pagination .current:hover {
    background: green !important;
    border-radius: 20px !important;
    border: transparent !important;
}



// .ng-select-container {
//     border-radius: 100px !important;
//     background-color: #f6f6f6 !important;
//     border: none !important;
// }





// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



