/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'Poppins';
    src: url('./assets/font/Poppins-Regular.otf');
}
  
@layer components{
    body,html{
        @apply h-full font-popping;
    }

    body{
        @apply m-0;
    }

    .main-container{
        @apply px-9 py-5 ;
    }
}





// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
